body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
}

header {
    background-color: #4b0082;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0.5rem 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #4b0082;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    padding: 0.5rem 0;
}


.nav-toggle {
    display: none;
    background-color: #4b0082;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-toggle:focus {
    outline: none;
}

nav ul.open {
    display: block;
}

@media (max-width: 599px) {
    .nav-toggle {
        display: block;
    }

    nav ul {
        display: none;
    }
}
